<div id="messages">
	Jugador { content.current_player_id | get_name } selecciona un color:
</div>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-danger">Generalidades</button>
  <button type="button" class="btn btn-primary">Normativa</button>
  <button type="button" class="btn btn-warning">Medidas preventivas</button>
  <button type="button" class="btn btn-success">Factores estrés térmico</button>
  <button type="button" class="btn btn-info">Factores personales</button>
  <button type="button" class="btn btn-default">Efectos en la salud</button>
</div>